/* Give your page a fun background color */
body {
    background-color: lightblue;
    margin: 0;
}
/* Make the header and footer a different color from the background */
header {
    background-color: lightgoldenrodyellow;
}

footer {
    background-color: lightgoldenrodyellow;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    margin: 0;
}
/* Make your p tag a different color and italic */
p {
    color: rosybrown;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: solid 5px;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
/* Change the font-family of your list */
ul {
    font-family: 'Times New Roman', sans-serif;
}